
h1{
  font-family: 'Raleway', sans-serif;
  text-align: center;
}
body{
  background: #e5fff2;
}
li{
  font-family: 'Kosugi', sans-serif;

}
article{
  display: inline-block;
  margin: 10%;
}
.songs-container{
  background: #e6f2eb;
  width: 20%;
  column-count: 4;
  float: center;
  align-items: center;
  text-align: center;
  vertical-align: top;
  padding: 5px 10px;
  margin-left: 50px;
  margin-bottom: 20px;
}
.songs-container img{
  border-radius: 50%;
  height: 200px;
  width: 200px;
  column-count: 4;
}
